<!DOCTYPE html>
<html>
{{# bill }}
<head>
    <title>ft_{{ formattedCode}}</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/print.css' />


</head>

<body class="printed-fattura">

    <article>
        <div class="title">Fattura</div>
        <header>
            <section id="provider">
                <span id="provider-description" class="description">Eban Software di Parodi Andrea</span>
                <span id="provider-indirizzo" class="indirizzo">Via Casata Centuriona 2/16B</span>
                <span id="provider-cap">16139</span>
                <span id="provider-comune">Genova</span>(
                <span id="provincia">GE</span>)
                <div id="provider-codiceFiscale">
                    <span class="label">Cod.Fiscale</span>
                    <span class="value">PRDNDR76A03D969Q</span>
                </div>
                <div id="provider-partitaIva">
                    <span class="label">P. Iva</span>
                    <span class="value">01747660999</span>
                </div>

            </section>

            <section id="customer">
                {{# cliente }}
                <span id="cliente-description" class="description">{{ description }}</span>
                <span id="cliente-secondaDescrizione" class="description">
                {{ secondaDescrizione }}</span>
                <span id="cliente-indirizzo" class="indirizzo">{{ indirizzo }}</span>
                <span id="cliente-cap">{{ cap }}</span>
                <span id="cliente-comune">{{ comune }}</span>(
                <span id="cliente-provincia">{{ provincia }}</span>)

                <div id="cliente-codiceFiscale">
                    <span class="label">Cod.Fiscale</span>
                    <span class="value">{{ codiceFiscale }}</span>
                </div>
                <div id="cliente-partitaIva">
                    <span class="label">P. Iva</span>
                    <span class="value">{{ partitaIva }}</span>
                </div>
                {{/ cliente}}
                <section id="ft-dettagli">

                    <div id="formattedCode">
                        <span class="label">Fattura N°</span>
                        <span class="value">{{ formattedCode}}</span>
                    </div>

                    <div id="date">
                        <span class="label">Data</span>
                        <span class="value">{{ dateFt }}</span>
                    </div>


                </section>
            </section>


        </header>
        <section id="righe">
            <table>

                <thead>
                    <tr>
                        <th>Descrizione</th>
                        <th>Prezzo Unitario</th>
                        <th>Quantità</th>
                        <th>Prezzo Totale</th>
                    </tr>

                </thead>
                <tbody>
                    {{# righe}}
                    <tr class="riga-ft" id="riga-{{ numeroRiga}}">


                        <td class="description">{{ description}}</td>
                        <td class="prezzoCadauno">
                            <span {{ pricesClass}}>{{ prezzoCadaunoFt }}</span>
                        </td>
                        <td class="quantita">{{ quantitaFt}}</td>
                        <td class="total">
                            <span {{ pricesClass}}>{{ totalFt }}</span>
                        </td>


                    </tr>
                    {{/ righe}}

                </tbody>
                <tfoot>
                    <tr>
                        <td class="description">Contributo CO.NA.I. assolto ove dovuto.</td>
                        <td colspan="2" class="two-cols">Arrotondamento</td>
                        <td class="total">€ 0,00</td>

                    </tr>

                    <tr>
                        <td class="description">&nbsp;</td>
                        <td colspan="2" class="two-cols">Totale imponibile</td>
                        <td class="total">{{ imponibileFt }}</td>

                    </tr>

                    <tr>
                        <td class="description">&nbsp;</td>
                        <td colspan="2" class="two-cols">Aliquota</td>
                        <td class="total">{{ ivaFt }}</td>

                    </tr>

                    <tr>
                        <td class="description">&nbsp;</td>
                        <td colspan="2" class="two-cols">Totale fattura</td>
                        <td class="total">{{ totaleFt }}</td>

                    </tr>
                </tfoot>
            </table>
        </section>


        <footer>
            <div>
                <span id="pagamento">Pagamento fattura: {{ pagamentoDescr }}</span>
                <span id="scadenza">Scadenza: {{ scadenzaFt }}</span>
            </div>
            <div class="coordinate">
                Coordinate Bancarie:
                <br>Monte Dei Paschi di Siena - Agenzia Genova 05
                <br>Conto Corr. 000000295770
                <br>ABI 01030
                <br>CAB 01404
                <br>IBAN IT02S0103001404000000295770
                <br>
            </div>
            <div id="note">
                Il pagamento dei beni in oggetto della presente fattura dovrà essere effettuato alla scadenza stabilita.
                <br>In caso di ritardato pagamento il Cliente è tenuto al pagamento degli interessi moratori al tasso effettivo medio determinato dalla legge 108/96
                <br>
            </div>
        </footer>
    </article>


</body>
{{/ bill }}
</html>
